In [1]:
# Related to automobile,process industries, manufacturing plant,Similar topic project on NASA also.

In [2]:
# import the basic libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [4]:
original_data=pd.read_csv('C:/Users/Sanu/Desktop/DataSet/component_failure_prediction.csv')
df=original_data.copy()
df.head(10)

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure
5,6,M14865,M,298.1,308.6,1425,41.9,11,0,No Failure
6,7,L47186,L,298.1,308.6,1558,42.4,14,0,No Failure
7,8,L47187,L,298.1,308.6,1527,40.2,16,0,No Failure
8,9,M14868,M,298.3,308.7,1667,28.6,18,0,No Failure
9,10,M14869,M,298.5,309.0,1741,28.0,21,0,No Failure

In [5]:
df.tail(100)

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
9900,9901,H39314,H,298.7,309.2,1449,42.3,182,0,No Failure
9901,9902,M24761,M,298.7,309.2,1423,48.9,187,0,No Failure
9902,9903,H39316,H,298.7,309.3,1402,45.3,190,0,No Failure
9903,9904,M24763,M,298.7,309.2,1437,45.7,195,0,No Failure
9904,9905,L57084,L,298.6,309.1,1537,35.7,198,0,No Failure
...,...,...,...,...,...,...,...,...,...,...
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,No Failure
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,No Failure
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,No Failure
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,No Failure
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,No Failure

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      10000 non-null  int64
 1   Product ID               10000 non-null  object
 2   Type                     10000 non-null  object
 3   Air temperature [K]      10000 non-null  float64
 4   Process temperature [K]  10000 non-null  float64
 5   Rotational speed [rpm]   10000 non-null  int64
 6   Torque [Nm]              10000 non-null  float64
 7   Tool wear [min]          10000 non-null  int64
 8   Target                   10000 non-null  int64
 9   Failure Type             10000 non-null  object
dtypes: float64(3), int64(4), object(3)
memory usage: 781.4+ KB

In [7]:
df.describe()

,UDI,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,300.004930,310.005560,1538.776100,39.986910,107.951000,0.033900
std,2886.89568,2.000259,1.483734,179.284096,9.968934,63.654147,0.180981
min,1.00000,295.300000,305.700000,1168.000000,3.800000,0.000000,0.000000
25%,2500.75000,298.300000,308.800000,1423.000000,33.200000,53.000000,0.000000
50%,5000.50000,300.100000,310.100000,1503.000000,40.100000,108.000000,0.000000
75%,7500.25000,301.500000,311.100000,1612.000000,46.800000,162.000000,0.000000
max,10000.00000,304.500000,313.800000,2886.000000,76.600000,253.000000,1.000000

In [8]:
df1=df.drop(["UDI","Product ID"],axis=1)

In [9]:
# variable in failure types 
df1["Failure Type"].value_counts()

No Failure                  9652
Heat Dissipation Failure     112
Power Failure                 95
Overstrain Failure            78
Tool Wear Failure             45
Random Failures               18
Name: Failure Type, dtype: int64

In [10]:
df1["Target"].value_counts()

0    9661
1     339
Name: Target, dtype: int64

In [11]:
df1["Target"].value_counts(normalize=True)

0    0.9661
1    0.0339
Name: Target, dtype: float64

In [12]:
# there are five kind of failure.
# it is a highly imbalance data.

In [13]:
#lets change the name of the columns

In [14]:
#df2=df1.rename(mapper={"Air temperature [K]":"Air temperature"},axis=1)

In [15]:
#df2.head()

In [16]:
# lets check why there is a difference in failure number in failure type and target

In [17]:
df_failure=df1[df1["Target"]==1]
df_failure["Failure Type"].value_counts()

Heat Dissipation Failure    112
Power Failure                95
Overstrain Failure           78
Tool Wear Failure            45
No Failure                    9
Name: Failure Type, dtype: int64

In [18]:
df_failure[df_failure["Failure Type"]=="No Failure"]

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
1437,H,298.8,309.9,1439,45.2,40,1,No Failure
2749,M,299.7,309.2,1685,28.9,179,1,No Failure
4044,M,301.9,310.9,1419,47.7,20,1,No Failure
4684,M,303.6,311.8,1421,44.8,101,1,No Failure
5536,M,302.3,311.8,1363,54.0,119,1,No Failure
5941,L,300.6,310.7,1438,48.5,78,1,No Failure
6478,L,300.5,309.8,1663,29.1,145,1,No Failure
8506,L,298.4,309.6,1710,27.3,163,1,No Failure
9015,L,297.2,308.1,1431,49.7,210,1,No Failure

In [19]:
#drop the observation because we are not sure whether it is failure or No failure

In [20]:
id_possible_failure=df_failure[df_failure["Failure Type"]=="No Failure"].index
df1.drop(id_possible_failure,axis=0,inplace=True)

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9991 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Type                     9991 non-null   object
 1   Air temperature [K]      9991 non-null   float64
 2   Process temperature [K]  9991 non-null   float64
 3   Rotational speed [rpm]   9991 non-null   int64
 4   Torque [Nm]              9991 non-null   float64
 5   Tool wear [min]          9991 non-null   int64
 6   Target                   9991 non-null   int64
 7   Failure Type             9991 non-null   object
dtypes: float64(3), int64(3), object(2)
memory usage: 702.5+ KB

In [22]:
df_failure=df1[df1["Target"]==0]

df_failure["Failure Type"].value_counts()

No Failure         9643
Random Failures      18
Name: Failure Type, dtype: int64

In [23]:
df_failure[df_failure["Failure Type"]=="Random Failures"]

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
1221,M,297.0,308.3,1399,46.4,132,0,Random Failures
1302,L,298.6,309.8,1505,45.7,144,0,Random Failures
1748,H,298.4,307.7,1626,31.1,166,0,Random Failures
2072,L,299.6,309.5,1570,35.5,189,0,Random Failures
2559,L,299.3,309.0,1447,50.4,140,0,Random Failures
3065,M,300.1,309.2,1687,27.7,95,0,Random Failures
3452,H,301.6,310.5,1602,32.3,2,0,Random Failures
5471,L,302.7,312.3,1346,61.2,170,0,Random Failures
5489,L,302.6,312.1,1499,35.0,215,0,Random Failures
5495,H,302.9,312.5,1357,55.0,12,0,Random Failures
5509,L,302.8,312.2,1509,36.5,52,0,Random Failures
5553,L,302.5,311.9,1306,59.7,172,0,Random Failures
5639,L,302.6,312.1,1668,28.7,180,0,Random Failures
6091,L,300.9,310.7,1412,57.5,16,0,Random Failures
6913,L,300.8,311.2,1481,38.5,181,0,Random Failures
6960,L,300.7,311.0,1413,52.0,91,0,Random Failures
7488,L,300.3,311.7,1545,43.5,160,0,Random Failures
7868,H,300.4,311.9,1438,46.7,41,0,Random Failures

In [24]:
# we are not sure the above observation is failure or no failure because two 
#target variable indicate different results
# we should drop these observation

In [25]:
id_possible_failure=df_failure[df_failure["Failure Type"]=="Random Failures"].index
df1.drop(id_possible_failure,axis=0,inplace=True)

In [26]:
df1.shape[0]

9973

In [27]:
df1.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,M,298.1,308.6,1551,42.8,0,0,No Failure
1,L,298.2,308.7,1408,46.3,3,0,No Failure
2,L,298.1,308.5,1498,49.4,5,0,No Failure
3,L,298.2,308.6,1433,39.5,7,0,No Failure
4,L,298.2,308.7,1408,40.0,9,0,No Failure

In [28]:
#lets see the pairplot correlation

In [ ]:
sns.pairplot(df1,hue="Target")

In [ ]:
#observations
"""
(1)Torque and rotational speed are highly negative linear correlation 
(2)process temp and air temp are highly positive linear correlation
(3)Failure is only at the extreme low and high value of Torque and Rotational speed.
"""

In [ ]:
sns.pairplot(df1,hue="Failure Type")

In [ ]:
#sns.pairplot(df1,x=df1["Rotational speed [rpm]"],y=df1["Torque [Nm]"],hue="Failure Type")

In [ ]:
#correlation matrix
df1.corr()

In [ ]:
plt.figure(figsize=(8,8))
sns.heatmap(df1.corr(),annot=True)

In [ ]:
# Failure percentage of different quality component

In [ ]:
df1["Type"].value_counts()

In [ ]:
plt.pie(df1["Type"].value_counts(),labels=["Low","Medium","High"],autopct="%1.1f%%")
plt.title("percentage of component type")

In [ ]:
df1["Target"].value_counts()

In [ ]:
# percentage of failure with respect to component quality type

In [ ]:
df_product_type=df1[df1["Type"]=="L"]
df_product_type["Target"].value_counts()

In [ ]:
df_product_type=df1[df1["Type"]=="M"]
df_product_type["Target"].value_counts()

In [ ]:
df_product_type=df1[df1["Type"]=="H"]
df_product_type["Target"].value_counts()

In [ ]:
df_product_type=df1[df1["Type"]=="L"]
plt.pie(df_product_type["Target"].value_counts(),labels=["Not Failure","Failure"],autopct="%1.2f%%")
plt.title("Percentage of failure wrt component quality L")

In [ ]:
df_product_type=df1[df1["Type"]=="M"]
plt.pie(df_product_type["Target"].value_counts(),labels=["Not Failure","Failure"],autopct="%1.2f%%")
plt.title("Percentage of failure wrt component quality M")

In [ ]:
df_product_type=df1[df1["Type"]=="H"]
plt.pie(df_product_type["Target"].value_counts(),labels=["Not Failure","Failure"],autopct="%1.2f%%")
plt.title("Percentage of failure wrt component quality H")

In [ ]:
# L type component have a higher failure wrt to M & H type. But it is not a alarming high.

In [ ]:
# Feb_12th continue

In [ ]:
df1["Failure Type"].value_counts(normalize=True)

In [ ]:
plt.figure(figsize=(8,8))
col_fail_type=df1["Failure Type"].unique().tolist()# failure types
plt.pie(df1["Failure Type"].value_counts(),explode=(0.2,0.0,0.0,0.0,0.0),autopct="%1.1f%%")
plt.title("failure type percentage",fontsize=25)
plt.legend(col_fail_type,fontsize=10)

In [ ]:
df1["Failure Type"].unique().tolist()

In [ ]:
df1["Failure Type"].unique()

In [ ]:
# lets draw the scatter plot of different failure type

In [ ]:
# rotational speed and torque are the most imp failure factor

In [ ]:
df1.head()

In [ ]:
fig,ax=plt.subplots(1,2,figsize=[20,10])
sns.scatterplot(data=df1,x="Rotational speed [rpm]",y="Torque [Nm]",hue="Failure Type",ax=ax[0])
sns.scatterplot(data=df1[df1["Target"]==1],x="Rotational speed [rpm]",y="Torque [Nm]",hue="Failure Type",ax=ax[1])
ax[0].set_title("Including the no failure class")
ax[1].set_title("only failure class")

In [ ]:
# please write the interpretation obtained from the above scatterplot

In [ ]:
# preprocessing finding the outliers

In [ ]:
sns.scatterplot(data=df1,x="Rotational speed [rpm]",y="Torque [Nm]",hue="Failure Type")

In [ ]:
sns.scatterplot(data=df1[df1["Target"]==1],x="Rotational speed [rpm]",y="Torque [Nm]",hue="Failure Type")

In [ ]:
sns.scatterplot(data=df1[df1["Target"]==1],x="Rotational speed [rpm]",y="Torque [Nm]",hue="Failure Type")

In [ ]:
# preprocessing finding the outliers

In [ ]:
sns.boxplot(data=df1,x="Rotational speed [rpm]")

In [ ]:
sns.boxplot(data=df1,x="Torque [Nm]")

In [ ]:
df1.describe()

In [ ]:
df1.info()

In [ ]:
df1.head()

In [ ]:
df1["Failure Type"].unique().tolist()

In [ ]:
df1["Type"].unique().tolist()

In [ ]:
#label encoding or mapping approach

In [ ]:
df1["Type"]=df1["Type"].map({"L":0,"M":1,"H":2})

In [ ]:
df1["Failure Type"]=df1["Failure Type"].map({'No Failure':0,'Power Failure':1,'Tool Wear Failure':2,
 'Overstrain Failure':3,'Heat Dissipation Failure':4})

In [ ]:
df1.head(100)

In [ ]:
df1.info()

In [ ]:
#  split the data into dependent and independent variable

In [ ]:
X=df1.drop(["Target","Failure Type"],axis=1)

In [ ]:
X.head()

In [ ]:
# we know there is outlier in columns rotational speed and torque
# we prefer the robust scaler scaling

In [ ]:
from sklearn.preprocessing import MinMaxScaler,RobustScaler

In [ ]:
scaler=RobustScaler()
X_scaled=scaler.fit_transform(X)
X_scaled=pd.DataFrame(X_scaled,columns=X.columns)
X_scaled.head()

In [ ]:
# we are working on Target column as dependent variable

In [ ]:
Y=df1["Target"]# binary class

In [ ]:
# data is highly imbalance , stratified split is important

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X_scaled,Y,train_size=0.80,stratify=Y,random_state=101)
#X_eval,X_test1,Y_eval,Y_test1=train_test_split(X_test,Y_test,train_size=0.50,random_state=105)

In [ ]:
print("original data \n",df1["Target"].value_counts(normalize=True))
print("training data \n",Y_train.value_counts(normalize=True))
print("testing data \n",Y_test.value_counts(normalize=True))

In [ ]:
# model building

In [ ]:
from sklearn.ensemble import RandomForestClassifier,BaggingClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
rf=RandomForestClassifier()
bag=BaggingClassifier()
svc=SVC()
dt=DecisionTreeClassifier()
knn=KNeighborsClassifier()

In [ ]:
# random forest

In [ ]:
rf.fit(X_train,Y_train)
Y_pred_rf=rf.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [ ]:
accuracy_score(Y_test,Y_pred_rf)

In [ ]:
confusion_matrix(Y_test,Y_pred_rf)

In [ ]:
print(classification_report(Y_test,Y_pred_rf))

In [ ]:
# Bagging algorithm

In [ ]:
bag.fit(X_train,Y_train)
Y_pred_bag=bag.predict(X_test)
accuracy_score(Y_test,Y_pred_bag)

In [ ]:
confusion_matrix(Y_test,Y_pred_bag)

In [ ]:
print(classification_report(Y_test,Y_pred_bag))

In [ ]:
# please find accuracy of other algorithm

In [ ]:
from sklearn.model_selection import StratifiedShuffleSplit,cross_val_score,cross_val_predict

In [ ]:
from sklearn.model_selection import cross_validate

In [ ]:
for model in [rf,bag,svc,dt,knn]:
    print("=========="*5)
    print('Performance of ', model)
    print("=========="*5)
    cv = StratifiedShuffleSplit(n_splits=5, test_size=0.25, random_state=42)
    scoring = ["f1_macro", "precision_macro", "recall_macro"]
    cross_val_scores = cross_validate(model, X, Y, scoring=scoring)
    roc_auc_test_cv = round(cross_val_score(model, X, Y, cv=cv, n_jobs=-1, scoring="roc_auc").mean(),4)
    f1_test_cv = round(cross_val_scores["test_f1_macro"].mean(),4)
    precision_test_cv = round(cross_val_scores["test_precision_macro"].mean(),4)
    recall_test_cv = round(cross_val_scores["test_recall_macro"].mean(),4)
       
    
    # Print metrics
    print(f'Cross val roc auc test data: {roc_auc_test_cv}')
    print(f'Cross val macro f1 score test data: {round(cross_val_scores["test_f1_macro"].mean(),4)}')
    print(f'Cross val macro precision score test data: {round(cross_val_scores["test_precision_macro"].mean(),4)}')
    print(f'Cross val macro recall score test data: {round(cross_val_scores["test_recall_macro"].mean(),4)}')
   # print()

In [ ]:
# please write the interpretation

In [ ]:
# Balancing the data set

In [ ]:
# pl remember only balance the training dataset

In [ ]:
from imblearn.over_sampling import SMOTE,RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler

In [ ]:
smote=SMOTE(random_state=50,n_jobs=-1)
X_train_smote,Y_train_smote=smote.fit_resample(X_train,Y_train)

In [ ]:
# apply random forest on balance dataset

In [ ]:
rf_smote=rf.fit(X_train_smote,Y_train_smote)
Y_RF_pred_smote=rf_smote.predict(X_test)

In [ ]:
accuracy_score(Y_test,Y_RF_pred_smote)

In [ ]:
confusion_matrix(Y_test,Y_RF_pred_smote)

In [ ]:
print(classification_report(Y_test,Y_RF_pred_smote))

In [ ]:
Y_RF_pred_smote

In [ ]:
df1["Target"].value_counts(normalize=True)